body {
  font-size: 14px;
  font-family: 'Courier new', Courier, monospace;

  text-align: center;

  background-color: #0098fb;

}

.table_wrapper {
  width: fit-content;
  margin: 30px auto;

  overflow: hidden;

  border-radius: 5px;
}

.header_row, .table_row {
  display: flex;
  width: fit-content;
  height: 42px;

  line-height: 42px;
  white-space: nowrap;
}

.header_row {
  border-bottom: 3px solid #a0a8b5;

  color: white;

  background-color: #1b1f24;
}

.table_row:nth-child(even) {
    background-color: #ebebeb;
}

.table_row:nth-child(odd) {
    background-color: white;
}

.table_row:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.header_cell:not(:last-child) {
  border-right: 1px solid #2d3136;
}

.table_cell:not(:last-child) {
  border-right: 1px solid #d6d6d6;
}


