body {
  --backgroundColor: #0098fb;
  --verticalMargin: 30px;
  --lineHeight: 42px;
  margin: 0;

  font-size: 14px;
  font-family: 'Courier new', Courier, monospace;

  text-align: center;

  background-color: var(--backgroundColor);
}

.hidden {
  display: none;
}

.title {
  position: sticky;
  top: 0;

  height: calc(2 * var(--verticalMargin));

  font-size: 30px;
  line-height: calc(2 * var(--verticalMargin));

  background-color: var(--backgroundColor);
}

.table_wrapper {
  width: fit-content;
  margin: var(--lineHeight) auto var(--verticalMargin);

  overflow: hidden;
}

.header_row, .table_row {
  display: flex;
  width: fit-content;
  height: var(--lineHeight);

  line-height: var(--lineHeight);
  white-space: nowrap;
}

.header_row {
  position: fixed;

  top: calc(2 * var(--verticalMargin));

  color: white;

  background-color: #1b1f24;

}

.table_row:nth-child(even) {
    background-color: #ebebeb;
}

.table_row:nth-child(odd) {
    background-color: white;
}

.table_row:hover {
    background-color: #d6d6d6;
}

.table_row.highlighted {
    background-color: #c2c2c2;
}

.table_row:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.header_cell:not(:last-child) {
  border-right: 1px solid #2d3136;
}

.table_cell:not(:last-child) {
  border-right: 1px solid #d6d6d6;
}

.header_cell {
  cursor: pointer;

  user-select: none;
}

.link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.tag {
  margin-bottom: var(--verticalMargin);
}